{% load static %}
{% comment %}
This template is used to serve the 'Swagger UI' view of the API.

This template is derived from index.html in swagger-ui-dist
(https://github.com/swagger-api/swagger-ui/blob/master/dist/index.html).

All static files from swagger-ui-dist must be present under the app's static directory.

To update Swagger, download swagger-dist-ui and copy all files to the 'swagger-dist-ui'
directory.  You will then need to compare the swagger-dist-ui index.html with this file
and merge any changes.


Thanks to Matt Hegarty at

https://dev.to/matthewhegarty/swaggerui-inside-django-rest-framework-1c2p

for this

{% endcomment %}
<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'geospaca/swagger-ui-dist/swagger-ui.css' %}" >
    <link rel="icon" type="image/png" href="{% static 'geospaca/swagger-ui-dist/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'geospaca/swagger-ui-dist/favicon-16x16.png' %}" sizes="16x16" />
    <style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
    </style>
  </head>

  <body>
    <div id="swagger-ui"></div>

    <script src="{% static 'geospaca/swagger-ui-dist/swagger-ui-bundle.js' %}"> </script>
    <script src="{% static 'geospaca/swagger-ui-dist/swagger-ui-standalone-preset.js' %}"> </script>
    <script>
    window.onload = function() {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: "{% url 'openapi-schema' %}",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })
      // End Swagger UI call region

      window.ui = ui
    }
  </script>
  </body>
</html>
